*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@font-face {
    font-family: 'Technology';
    src: url(../assets/technology/Technology-Bold.ttf);
}
body{
    display: grid;
    place-items: center;
    background-color: rgb(27, 27, 27);
}
.logo{
    position: absolute;
    top: 3%;
    left: 2%;
    color: white;
    word-spacing: 0.5rem;
    padding: 0rem 2rem 2rem 2rem;
    animation: logo 1500ms ease-in 100ms calc(1) normal;
    animation-timing-function: ease;
    font-size: 1.5rem;
    text-shadow: 0px 3px #ffd20e,
        -0.5px 6px #e5bc08,
        -1px 9px #ec8401,
        -1.5px 12px #e65c04,
        -2px 15px #e52e06,
        -2.5px 18px #de006b,
        -3px 21px #ca039e,
        -3.5px 24px #a203cb,
        -4px 27px #6d01c9,
        -4.5px 30px #22008f,
        -5px 33px #062f9a,
        -5.5px 36px #0045ac,
        -6px 39px #007db2,
        -6.5px 42px #00b8d9;
}
.calculator{
    height: 75%;
    width: 25%;
    background-color: lavender;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
.calculator .display-container{
    height: 30%;
    width: 100%;
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    place-items: center;
    padding-block: 1rem;
    margin-bottom: 1.5rem;
    text-align: right;
    border-radius: 0.5rem;
    font-family: 'Technology',sans-serif;
}
.calculator .display-container .previous-operand{
    width: 90%;
    height: 35%;
    background-color: aqua;
    border: 3px solid black;  
    padding-inline: 1rem; 
    font-size: 1rem;
    font-weight: 500;
}
.calculator .display-container .current-operand{
    width: 90%;
    height: 65%;
    background-color: cadetblue;
    border: 3px solid black;
    font-size: 2rem;
    font-weight: 700;
    padding-inline: 1rem;
}
.calculator .btn-container{
    height: 70%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.5rem;
    
}
.calculator .btn-container > button{
    border-radius: 1rem;
    font-size: 2rem;
}
.calculator .btn-container > button:hover{
    background-color: rgba(255, 255, 255, .9);
}
@keyframes logo{
    0%{
        text-shadow: none;
    }
    14.285%{
        text-shadow: 0px 3px #ffd20e,
        -0.5px 6px #e5bc08,
    }
    28.56%{
        text-shadow: 0px 3px #ffd20e,
        -0.5px 6px #e5bc08,
        -1px 9px #ec8401,
        -1.5px 12px #e65c04,
    }
    42.84%{
        text-shadow: 0px 3px #ffd20e,
        -0.5px 6px #e5bc08,
        -1px 9px #ec8401,
        -1.5px 12px #e65c04,
        -2px 15px #e52e06,
        -2.5px 18px #de006b, 
    }
    57.12%{
        text-shadow: 0px 3px #ffd20e,
        -0.5px 6px #e5bc08,
        -1px 9px #ec8401,
        -1.5px 12px #e65c04,
        -2px 15px #e52e06,
        -2.5px 18px #de006b,
        -3px 21px #ca039e,
        -3.5px 24px #a203cb,
    }
    71.4%{
        text-shadow: 0px 3px #ffd20e,
        -0.5px 6px #e5bc08,
        -1px 9px #ec8401,
        -1.5px 12px #e65c04,
        -2px 15px #e52e06,
        -2.5px 18px #de006b,
        -3px 21px #ca039e,
        -3.5px 24px #a203cb,
        -4px 27px #6d01c9,
        -4.5px 30px #22008f,
    }
    85.68%{
        text-shadow: 0px 3px #ffd20e,
        -0.5px 6px #e5bc08,
        -1px 9px #ec8401,
        -1.5px 12px #e65c04,
        -2px 15px #e52e06,
        -2.5px 18px #de006b,
        -3px 21px #ca039e,
        -3.5px 24px #a203cb,
        -4px 27px #6d01c9,
        -4.5px 30px #22008f,
        -5px 33px #062f9a,
        -5.5px 36px #0045ac,
    }

    100%{
        text-shadow: 0px 3px #ffd20e,
        -0.5px 6px #e5bc08,
        -1px 9px #ec8401,
        -1.5px 12px #e65c04,
        -2px 15px #e52e06,
        -2.5px 18px #de006b,
        -3px 21px #ca039e,
        -3.5px 24px #a203cb,
        -4px 27px #6d01c9,
        -4.5px 30px #22008f,
        -5px 33px #062f9a,
        -5.5px 36px #0045ac,
        -6px 39px #007db2,
        -6.5px 42px #00b8d9;
    }
}
@media screen and (max-width:500px)  {
    .calculator{
        height: 100%;
        width: 100%;
    }
    .logo{
        display: none;
    }
}
@media screen and (min-width:501px) and (max-width:800px) {
    .calculator{
        width: 60%;
    }
    .logo{
        display: none;
    }
}
@media screen and (min-width:801px) and (max-width:999px) {
    .calculator{
        width: 40%;
    }
}