* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
   
}
body {
    display: grid;
    place-items: center;
    background-color: #02024f
}
.divider {
    height: 3px;
    width: 60vw;
    background-color: black;
    clear: right;
    margin-top: 3vh;
}
header {
    height: 20vh;
    width: 80vw;
    text-align: center;
}
header h1 {
    font-family: Raleway, sans-serif;
    word-spacing: 10px;
    font-size: 8vh;
    margin-top: 5vh;
    color: white;
}
#google {
    margin-bottom: 3vh;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4vh;
    width: 60vw;
}
main {
    height: 70vh;
    width: 60vw;
    background-color: wheat;

}

.form-section {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

label {
    margin-left: 10vw;
    display: block;
    font-size: 3vh;
    font-family: poppins, sans-serif;
}

input {
    margin-left: 10vw;
    width: 40vw;
    height: 4vh;
}

#checkbox-label{
    display: block;
}

#checkbox {
    margin: 0%;
    width: 15px;
    position: relative;
    top: 1vh;
}

#signupB{
    width: 40vw;
    height: 4vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

a{
    text-decoration: none;
}

.divider-two {
    height: 3px;
    width: 40vw;
    margin-left: 10vw;
    background-color: black;
    clear: right;
    margin-top: 3vh;
}

p {
    text-align: center;
    font-size: 3vh;
    margin-top: 4vh;
}

#loginB{
    width: 40vw;
    height: 4vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4vh;
}

button:hover {
    cursor: pointer;
    background-color: green;
    color: white;
}

input:hover {
    background-color: darkgray;
    color: black;
}
.loader {
    position: absolute;
    top: 10%;
    left: 5%;
  }
  
  .outer,
  .middle,
  .inner {
    border: 3px solid transparent;
    border-top-color: #3cefff;
    border-right-color: #3cefff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .outer {
    width: 3.5em;
    height: 3.5em;
    margin-left: -1.75em;
    margin-top: -1.75em;
    animation: spin 2s linear infinite;
  }
  
  .middle {
    width: 2.1em;
    height: 2.1em;
    margin-left: -1.05em;
    margin-top: -1.05em;
    animation: spin 1.75s linear reverse infinite;
  }
  
  .inner {
    width: 0.8em;
    height: 0.8em;
    margin-left: -0.4em;
    margin-top: -0.4em;
    animation: spin 1.5s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
 
  @media screen and (max-width: 520px){
    label,
    input {
        margin-left: 5vw;
    }

    #signupB,
    #loginB {
        left: 45%;
    }

    p {
        text-align: center;
        margin-left: 5vw;
        display: inline;
    }
  }
  @media screen and (max-width: 450px) {
    header {
        height: 30vh;
    }

    #google {
        top: 30%
    }

    #loginB {
        transform: translate(-50%, 10vh);
    }

    p {
        font-size: 2vh;
    }
}