:root{
    /* Colors */
    --head-color: #fad643;
    --body-color: #f7ede2;
    --bg-color: #d7e3fc;
    /* Units */
    --spacing: 0.25rem;
    /* font-families */
    --ff-one: Poppins, sans-serif;
    --ff-two: Raleway, sans-serif;
    --ff-three: "Comic Sans MS", "Comic Sans", cursive;
}
body{
    background-color: var(--bg-color);
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none;
}
/* Header */
header{
    min-height: 20vh;
    width: 100vw;
}
.logo img{
    height: 5rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 3px 0px black ;
    margin: 1rem 2rem;
}
/* Main */
main{
    display: grid;
    place-items: center;
}
main .todo .head{
    padding-block: 0.5rem;
    text-transform: capitalize;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--ff-one);
    font-weight: 700;
    word-spacing: var(--spacing);
    background-color: var(--head-color);
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}
main .todo .body{
    min-height: 40vh;
    background-color: var(--body-color);
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    
}
form{
    display: flex;
    justify-content: center;
    padding-inline: 1rem;
    padding-top: 1rem;
}
form input{
    padding-left: 0.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
    border: none;
    padding: 0.5rem;
    font-family: var(--ff-one)
}
form input:focus{
    outline: none;
}
form button{
    border-radius: 0 0.5rem 0.5rem 0;
    border: none;
    text-transform: capitalize;
    padding: 0.5rem;
    font-weight: 600;
    font-family: var(--ff-two);
    background-color: lavender;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}
form button:hover{
    color: wheat;
    background-color: black;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-block: 0.5rem;
}
.list-item{
    display: flex;
    text-align: left;
    flex-direction: row;
    gap: 4rem;
    font-family: var(--ff-one);
    font-size: 1rem;
    font-weight: 600;
    word-break: break-all;
}
/* Buttons */
.btns{
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}
.checkBtn{
    border: none;
    outline: none;
    border-radius: 0.2rem;
    transition: all linear 0.3s;
    cursor: pointer;
}
.checkBtn:hover{
    background-color: #52b788;
    color: white;
}
.deleteBtn{
    border: none;
    outline: none;
    border-radius: 0.2rem;
    transition: all linear 0.3s;
    cursor: pointer;
}
.deleteBtn:hover{
    background-color: #ef233c;
    color: white;
}
/* Alert Message */
.alert{
    margin-top: 3rem;
    font-family: var(--ff-two);
    font-weight: 700;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
}
.alert-added{
    background-color: #52b788;
    color: white;
}
.alert-check{
    background-color: #52b788;
    color: white;
}
.alert-uncheck{
    background-color: #ef233c;
    color: white;
}
.alert-delete{
    background-color: #ef233c;
    color: white;
}



