/* :root{

} */
@font-face {
    font-family: "pixel";
    src: url(../assets/press_start_2p/PressStart2P.ttf);
}

body {
    display: grid;
    place-items: start center;
    background-color: #014f86;
}
/* logo */
.logo{
    position: absolute;
    width: 10rem;
    place-self: start;
    top: 2.5%;
    left: 2.5%;
   
}

/* Search bar */
#search {
    position: absolute;
    top: 5%;
    display: flex;
    justify-content: center;
    font-family: Poppins , sans-serif;
}

#search input{
    padding: 0.25rem;
    padding-left: 0.5rem;
    border-radius: 1rem 0 0 1rem;
    transition: all linear 0.3s;
    outline: none;
    border: none;
}
#search input:focus{
    background-color: lavender;
}
#search button{
    border: none;
    outline: none;
    border-radius:0 1rem 1rem 0;
    padding: 0.5rem;
    transition: all linear 0.4s;
}
#search button:hover{
    background-color: black;
    color: white;
}

/* pokedex */
.pokedex {
    display: flex;
    flex-direction: row;
    height: 75%;
    width: 50%;
    margin-top: 7rem;
    box-shadow: -10px 10px #660708;
}

/* pokedex left */
.pokedex .left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: lemonchiffon;
}

.pokedex .left .upper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    background-color: #d90429;
}

/* pokedex left upper */
.pokedex .left .upper .blue {
    height: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px white solid;
    background: radial-gradient(farthest-corner at 10px 10px, white, #369CD4, #369CD4);
    margin: 1rem 2rem;
}

.pokedex .left .upper .btn-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.pokedex .left .upper .btn-container>div {
    height: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    align-self: start;
    margin-top: 1rem;
    border: 1.5px white solid;
}

.pokedex .left .upper .btn-container>div:nth-child(1) {
    background: radial-gradient(farthest-corner at 4px 4px, white, #ba181b, #ba181b);
}

.pokedex .left .upper .btn-container>div:nth-child(2) {
    background: radial-gradient(farthest-corner at 4px 4px, white, #ffd60a, #ffd60a);
}

.pokedex .left .upper .btn-container>div:nth-child(3) {
    background: radial-gradient(farthest-corner at 4px 4px, white, #007f5f, #007f5f);
}

/* pokedex left below */
.pokedex .left .below {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
}

.pokedex .left .below .below1 {
    height: 100%;
    width: 92.5%;
    background-color: #d90429;
}

.pokedex .left .below .below1 .frame {
    width: 90%;
    height: 50%;
    background-color: white;
    margin: 1.5rem 1rem;
    display: grid;
    place-items: center;
}

.frame .screen {
    width: 90%;
    height: 90%;
    background-color: black;
    color: white;
}

.btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.below-frame .rect-btns {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-left: 1rem;
}

.below-frame .rect-btns>div {
    width: 30%;
    height: 0.8rem;
    border: 1px solid black;
    border-radius: 10%;
}

.below-frame .rect-btns>div:nth-child(1) {
    background-color: red;
}

.below-frame .rect-btns>div:nth-child(2) {
    background-color: cornflowerblue;
}

.below-frame .circle-btn {
    height: 2rem;
    aspect-ratio: 1;
    background: radial-gradient(farthest-corner at 10px 10px, white, #ffba08, #ffba08);
    ;
    border-radius: 50%;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.below-frame .plus-btn {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    position: relative;
    margin-right: 1rem;
}

.plus-btn::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: #000;
    height: 20px;
    margin-top: -10px;
    top: 50%;
    left: 5px;
    right: 5px;
    z-index: 9;
}

.plus-btn::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: #000;
    width: 20px;
    margin-left: -10px;
    left: 50%;
    top: 5px;
    bottom: 5px;
    z-index: 9;
}

.name-container {
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.name {
    height: 100%;
    width: 70%;
    background-color: black;
    text-align: center;
    color: white;
    padding: 0.5rem;
    font-family: 'pixel', sans-serif;
}

.divider {
    height: 100%;
    width: 7.5%;
    display: flex;
    flex-direction: column;
    background-color: #a4161a;
}

.divider div:nth-child(2n) {
    height: 20%;
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-shadow: inset 0px 0px 5px black;
}

.divider div:nth-child(2n + 1) {
    height: 40%;
    width: 100%;
    border: 1px solid black;
    box-shadow: inset 0px 0px 5px black;
    border-radius: 10%;
}

/* pokedex right */

.pokedex .right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: #d90429;
}

.pokedex .right .upper {
    width: 100%;
    height: 20%;
    background-color: #014f86;

}

.screen-two {
    width: 90%;
    height: 20%;
    background-color: #007f5f;
    margin-top: 10%;
    margin-left: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'pixel', sans-serif;
    border: 5px solid black;
    color: white;
    padding-left: 1rem;
}

.square-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-squares-container {
    width: 70%;
    height: 6rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.blue-squares-container>div {
    border-radius: 4px;
    border: black 2px solid;
    background-color: navy;
    box-shadow: inset -3px -3px #3298cb;
}

.right .rect-btns {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.right .rect-btns>div {
    width: 30%;
    height: 0.8rem;
    border: 1px solid black;
    border-radius: 10%;
}

.right .rect-btns>div:nth-child(1) {
    background-color: #80b918;
}

.right .rect-btns>div:nth-child(2) {
    background-color: #ffff3f;
}

.white-squares-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1rem;
    margin-top: 1rem;
}

.white-square {
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    border: black 2px solid;
    background-color: #ffffff;
    box-shadow: inset -2px -2px gray;
}

.type-container {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    font-family: 'pixel', sans-serif;
    color: white;

}

.type-container .type-text {
    width: 50%;
    height: 100%;
}